.contact {
  height: 100%;
  display: flex;
  gap: 100px;
}

.cSection {
  width: 50%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cSection:last-child {
  background-color: rgba(2, 2, 45, 0.187);
  margin: 50px 0px;
  padding: 50px;
  border-radius: 50% 0px;
}

.cTitle {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: rgba(2, 2, 45, 0.066);
  padding: 50px;
  border-radius: 50px;
}

input,
textarea {
  padding: 14px;
  border: none;
  border-radius: 5px;
  color: black;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}

label {
  font-size: 18px;
}

.formButton {
  display: inline-block;
  background: linear-gradient(90deg, #dd4c62, #dd4c62, rgb(201, 53, 77), #dd4c62, #dd4c62);
  background-size: 300% 100%;
  animation: gradientFlowRTL 2s linear infinite;

  color: white;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.formButton:hover {
  animation: none;
  background: #04df04e1;
  filter: saturate(1);
  transform: scale(1.02);
}

.errorInput {
  border: 2px solid #ff4d4d;
  background-color: #fff5f5;
  outline: none;
}

.errorText {
  color: #ff4d4d;
  font-size: 0.8rem;
  margin-top: 4px;
}

@keyframes gradientFlowRTL {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (max-width: 1280px) {
  .form {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .contact {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
  }

  .cSection {
    width: 100%;
  }

  .cSection:first-child {
    height: 70%;
  }
  .cSection:last-child {
    height: 30%;
  }
}